<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="todolist-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `todolist-element`
     * Un componente de para crear una lista de cosas que hacer
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TodolistElement extends Polymer.Element {
      static get is() { return 'todolist-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'todolist-element'
          }
        };
      }
    }

    window.customElements.define(TodolistElement.is, TodolistElement);
  </script>
</dom-module>
