<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../polymer/lib/utils/gestures.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-button/paper-button.html">


<dom-module id="todolist-element">
  <template>
    <style>
      :host {
        display: block;
      }
      .task{
        display: flex;
        align-items: center;
      }
      paper-input{
        display: inline-block;
      }

    </style>
    <h1>Mi Todoo list</h1>
    <dom-repeat
      items="{{tasks}}"
      as="task"
      filter="isNotCompleted"
      observe="completed"
    >
    <template is="dom-repeat">
        <div class="task">
          <paper-checkbox checked="{{task.completed}}"></paper-checkbox>
          <paper-input label="task name" no-label-float value="{{task.name}}"></paper-input>
        </div>
    </template>
    </dom-repeat>




    <h1>Completados</h1>

    <dom-repeat
    items="{{tasks}}"
      as="task"
      filter="isCompleted"
      observe="completed">
    <template is="dom-repeat">
        <div class="task">
          <paper-checkbox checked="{{task.completed}}"></paper-checkbox>
          <paper-input label="task name" no-label-float value="{{task.name}}"></paper-input>
        </div>
    </template>
    </dom-repeat>


    <paper-button on-click="agregarTask">Agregar Task</paper-button>
  </template>

  <script>
    /**
     * `todolist-element`
     * Un componente de para crear una lista de cosas que hacer
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TodolistElement extends Polymer.Element {
      static get is() { return 'todolist-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'todolist-element'
          },
          tasks: {
            type: Array,
            value: () => [
              {
                name: 'Mi primera tarea',
                completed: false
              }
            ]
          }
        };
      }
      agregarTask(){
        const newTask = {
          name: '',
          completed: false
        };
        this.push('tasks', newTask);
      }
      isNotCompleted(task){
        return  !task.completed;
      }
      isCompleted(task){
        return  task.completed;
      }
    }

    window.customElements.define(TodolistElement.is, TodolistElement);
  </script>
</dom-module>
